:root{
  scroll-behavior: smooth;
  --primary: #4154f1;
  --second: #717ff5;
  --bgColor: #f6f9ff;
}

body{
  color:black;
  background: var(--bgColor);
}

a{
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

a:hover{
  color:var(--second);
  text-decoration: none;
}



/*drop menu*/
.dropdown-menu{
  border-radius: 4px;
  padding: 10px 0;
  -webkit-animation-name: dropdown-amimate;
  animation-name: dropdown-animate;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  border: 0;
  box-shadow: 0 5px 30px 0 rgba(82, 63, 105,);
}

.dropdown-menu .drop-header,
.dropdown-menu .drop-footer{
  text-align: center;
  font-size: 15px;
  padding: 10px 25px;
}

.dropdown-menu .drop-footer a{
  color: #444444;
  text-decoration: underline;
}